//内容区域居中
@mixin page-container($w:$page-width) {
    width: $w;
    margin: 0 auto;
}

//动画持续时间
@mixin transition-duration($time:0.35s) {
    transition: all $time ease-in-out;
}

//
@mixin line-clamp($line:2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
}